.product-item{
    border: 1px solid #ccc;    
}

.product-image{
    display: flex;
}

.product-image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}